<%# 
ref: https://ejs.co/#docs 
%>
<!DOCTYPE html>
<html lang="en">
<%# <html lang="pt-br"> %>
    <head>
        <%//Tracking codes. %>
        <%- include('layout-include-tracking-codes.ejs'); %>


        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge"><%//Bootstrap required. %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title><%- SyncSystemNS.FunctionsGeneric.contentMaskRead(templateData.cphTitle, "config-application") %></title>

        <%# Style Sheets - JS dependencies. %>

        <%# Style Sheets - personalized. http://localhost:3000 | ../../ %>
        <% if(gSystemConfig.configDebug === true){ %>
            <link rel="stylesheet" type="text/css" href="/<%- gSystemConfig.configDirectoryStylesSD %>/styles-backend.css" media="screen" title="Default" /><!--Dev-->
		<% } %>
        <% if(gSystemConfig.configDebug === false){ %>
            <link rel="stylesheet" type="text/css" href="/<%- gSystemConfig.configDirectoryDistSD %>/styles-backend.bundle.css" media="screen" title="Default" /><!--Production (custom styles)-->
            <link rel="stylesheet" type="text/css" href="/<%- gSystemConfig.configDirectoryDistSD %>/styles-backend-vendor.bundle.css" media="screen" title="Default" /><!--Production (vendor styles)-->
        <% } %>
        <link rel="canonical" href="<%- gSystemConfig.configSystemURL %>" />

		<%/*
		Favicon - 16x16 | 32x32 | 64x64 (pixels).
		Export settings: PNG: 558 x 558 pixels.
		https://realfavicongenerator.net/
		*/%>

		<%
        /*
		<!--link rel="bookmark" href="../favicon.ico" /-->
		<!--link rel="icon" type="image/x-icon" href="../favicon.ico" />
		<link rel="icon" type="image/gif" href="../favicon_animated.gif" />
		<link rel="icon" type="image/png" href="../favicon.png" />
		<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="../favicon.ico" />
		<link rel="apple-touch-icon" href="../favicon.png" /-->
		*/
        %>

		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<%#<!--link rel="manifest" href="../site.webmanifest" /-->%>
		<%#<!--link rel="manifest" href="../../site.json" /--> <!--IIS compatible: (ref: https://devanswers.co/site-webmanifest-error-404-401/).-->%>
		<link rel="manifest" href="/<%- gSystemConfig.configDirectoryFilesLayoutSD %>/site.webmanifest" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
		<meta name="msapplication-TileColor" content="#009154" />
		<meta name="theme-color" content="#ffffff" />


        <%# Head - personalized. %>
        <%-templateData.cphHead %>


		<%/*
		<meta name="expires" content="never" /--><!--ex: 28 June 2003>
        <meta name="distribution" content="global" /--><!--ex: global | local | IU>
		*/%>

        <meta name="robots" content="index,follow,noarchive" />
		<%/*
            all - No restrictions (default).
            index,follow - Indexes pages and follow the links.
            noindex,nofollow - Don´t index pages (not in cache) and don´t follow the links.
            noarchive - Don´t show link "in cache".
            nosnippet - Don´t show snippets.
            notranslate - Don´t translate.
            noimageindex - Don´t index images.
            unavailable_after: [RFC-850 date/time] - Don´t show page in index after a specif date.
		*/%>

		<%/*
        <meta name="language" content="portuguese" />
        <meta name="language" content="english" />
		*/%>
		<meta name="author" content="<%- SyncSystemNS.FunctionsGeneric.contentMaskRead(gSystemConfig.configSystemClientName, "config-application") %>" />
		<meta name="designer" content="<%- SyncSystemNS.FunctionsGeneric.contentMaskRead(gSystemConfig.configDevName, "config-application") %>" />
		<meta name="copyright" content="<%- gSystemConfig.configCopyrightYear %>, <%- SyncSystemNS.FunctionsGeneric.contentMaskRead(gSystemConfig.configSystemClientName, "config-application") %>" />
		<meta name="rating" content="general" /><!--//general | mature | restricted | 14 years -->


        <%# JS includes. %>
        <%- include('layout-include-backend-js-head.ejs'); %>


		<style type="text/css">
            html, body
            {
                /*margin: 5px;*/
            }
		</style>
    </head>
    <body>
        <div id="containerMain" style="position: relative; display: flex; flex-direction: column; min-height: 100vh;">
            <h1 class="ss-backend-title01" style="position: relative; display: block; /*border-top: 4px double #b6bcc0; */border-bottom: 4px double #b6bcc0; font-size: 18px; margin-bottom: 0px; margin-top: 5px; margin-left: 5px; margin-right: 5px;">
                <%//Title content. %>
                <%# String.raw({ raw: templateData.cphCurrentTitle }) %>
                <%# `${templateData.cphCurrentTitle}`;  %>
                <%- templateData.cphTitleCurrent %>
            </h1>


            <main style="position: relative; display: block; margin: 0px 5px 0px 5px;">
                <%//Body content. %>
                <%-templateData.cphBody %>
            </main>
        </div>

        <%# Ajax progress bar. %>
        <div id="updtProgressGeneric" class="ss-backend-progress-bar-generic1-container" style="display: none;">
            <div class="ss-backend-progress-bar-generic1">
                <img src="/<%- gSystemConfig.configDirectoryFilesLayoutSD %>/backend-layout-progress-bar-generic1.gif" alt="<%- SyncSystemNS.FunctionsGeneric.appLabelsGet(gSystemConfig.configLanguageBackend.appLabels, "backendImgProgressBar") %>" />
            </div>
        </div>
    </body>
</html>